# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LEELOOO
    bool

config SHIELD_LEELOOO_LEFT
    def_bool $(shields_list_contains,leelooo_left)
    select SHIELD_LEELOO

config SHIELD_LEELOOO_RIGHT
    def_bool $(shields_list_contains,leelooo_right)
    select SHIELD_LEELOO

config SHIELD_LEELOOO_DONGLE
    def_bool $(shields_list_contains,leelooo_dongle)
