# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LEELOO_REV2_DONGLE

config ZMK_KEYBOARD_NAME
    default "Leeloo v2 dongle"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_LEELOO_REV2_LEFT || SHIELD_LEELOO_REV2_RIGHT || SHIELD_LEELOO_REV2_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif

